*{margin: 0; padding: 0;}
a{text-decoration: none;}
.content-wrap{
	background: #fff;
	width: 100%;
	height: 100vh;
	max-width: 1568px;
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 1px;
	}
.content-wrap__lockup{
	font-family: 'Lato', sans-serif;
	text-align: center;
}
	.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated__longer{
  animation-duration: 3s;
}
	@keyframes wave {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-20deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            animation-delay:1s;
         }
         .fadeIn--two{
         	animation-delay: 2s;
         }
         .fadeIn--three{
         	animation-delay: 2.25s;
         }
.wave {
  animation-name: wave;
}
.content-wrap__title{
	text-transform: uppercase;
	display: block;
}
.content-wrap__regular{
	font-size: 12px;
}
.btn-wrap{
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: auto;
	margin: 20em auto;
}
.btn{
	padding: .5em .75em;
	background: #000;
	color: #fff;
	font-size: 20em;
}
.btn:nth-of-type(2){
	margin-left: 2em;
}

.content-wrap__title--main{
	font-size: 50em;
}
.content-wrap__title--secondary{
	font-size: 35em;
}
@media only screen and (max-width: 960px) {
.content-wrap__title--main{
	font-size: 130em;
	}
}
